
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating, collection: 1..5, prompt: "Rating" %>
  </div>

  <div class="form-actions text-center form-box">
    <%= f.button :submit %>
  </div>

<% end %>

